**/__pycache__ **
/*.pyc
**/
*.pyo **
/*.pyd
**/
.Python **
/*.so
**/
*.egg **
/*.egg-info
**/
dist **/build **/.pytest_cache **/.coverage **/.env **/.venv **/venv **/.git **/.github **/.vscode **/.idea **/node_modules **/.DS_Store **/backups **/data/pgdata **
/*.log